.carousel {
  padding: 50px 16% 100px;
  background-color: #2b2b2a;
}

.carousel h1 {
  font-size: 24px;
  color: #f4f4f4;
  font-weight: 400;
}

.slider {
  margin-top: 70px;
}

.slick-arrow {
  top: 20%;
}

.slick-next {
  right: -100px;
}
.slick-prev {
  left: -100px;
}
.slick-next::before {
  content: ">";
  font-size: 50px;
}
.slick-prev::before {
  content: "<";
  font-size: 50px;
}
.sliderImagesContainer {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 110px;
}

.sliderImagesContainer img {
  max-width: 250px;
}

@media screen and (max-width: 600px) {
  .carousel {
    padding: 50px 20px;
    text-align: center;
  }
  .slider {
    margin-bottom: 30px;
  }
  .carousel h1 {
    font-size: 20px;
  }
  .sliderImagesContainer {
    gap: 20px;
  }
  .sliderImagesContainer img {
    width: 80px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 850px) {
  .sliderImagesContainer {
    gap: 40px;
  }
  .carousel {
    padding: 50px 20px;
    text-align: center;
  }
  .sliderImagesContainer img {
    width: 150px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

@media screen and (min-width: 850px) and (max-width: 1024px) {
  .sliderImagesContainer img {
    width: 200px;
  }
  .sliderImagesContainer {
    gap: 20px;
  }
  .carousel {
    padding: 50px 20px;
    text-align: center;
  }

  .slick-next {
    right: 0px;
  }
  .slick-prev {
    left: 0px;
  }
}
