.hero {
  position: relative;
  height: 370px;
}
.hero img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}
.hero_text {
  font-weight: bolder;
  position: absolute;
  top: 100px;
  left: 16%;
  color: #f4f4f4;
}

.hero_text h1 {
  font-size: 42px;
  letter-spacing: 1px;
}

.hero_text p {
  font-family: "bpgWeb001", sans-serif;
  font-size: 34px;
  letter-spacing: 1.5px;
}
