.aboutAarea {
  padding: 50px 16%;
  background-color: #2b2b2b;
}

.aboutAarea h1 {
  padding: 20px 0px;
  color: #f4f4f4;
  font-size: 28px;
  letter-spacing: 1.2px;
  line-height: 1.6;
  font-weight: 350;
}

.aboutAarea a {
  font-size: 20px;
  font-weight: bold;
  color: #06b0f3;
  padding: 20px 0;
  text-decoration: none;
}
