nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1e1f;
  padding: 20px 30px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: (cubic-bezier(0.445, 0.05, 0.55, 0.95));
  animation-duration: 500ms;
}

nav img {
  width: 182px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 14px;
  font-weight: 300;
  color: #f4f4f4;
  letter-spacing: 1px;
  list-style-type: none;
}

.scrolled {
  opacity: 0.8;
  background-color: #212121;
}

.emptyDiv {
  height: 80px;
}

.active {
  color: #06b0f3;
}

nav li:hover {
  color: #06b0f3;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 300ms;
}

@media screen and (max-width: 600px) {
  nav img {
    display: none;
  }
  nav ul {
    gap: 10px;
    position: relative;
    font-size: 12px;
    padding: 0;
  }
  nav {
    padding: 20px 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 850px) {
  nav {
    padding: 20px 10px;
  }
  nav img {
    width: 120px;
  }
  nav ul {
    gap: 10px;
    font-size: 12px;
  }
}
