.card {
  width: 300px;
  border: solid #555555;
  border-width: 1px;
  border-radius: 6px;
}

.card img {
  width: 100%;
}

.cardInfo {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 30px 20px;
  color: #f4f4f4;
  letter-spacing: 1px;
  font-weight: 200;
}

.cardInfo h1 {
  font-weight: 300;
  font-size: 18px;
}

.cardInfo p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}

.cardLink {
  display: flex !important;
  align-items: center;
  gap: 10px;
}

.cardLink i {
  color: #06b0f3;
}

.cardLink a {
  font-size: 16px;
  color: #06b0f3;
  text-decoration: none;
}

.cardLink a:hover {
  color: #0080b0;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-duration: 300ms;
}

@media screen and (max-width: 600px) {
  .cardInfo {
    height: 200px;
    padding: 10px 10px 20px 10px;
  }
  .cardInfo h1 {
    font-size: 16px;
  }
  .cardInfo p {
    font-size: 12px;
    margin-top: 10px;
  }
  .cardLink a {
    font-size: 14px;
  }
}
